@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===== MAIN ===== */
/* banner */
.banner {
    height: 28.25rem;
    background: #BF75E2;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    display: flex;
}

.mensagem {
    color: #FFFFFF;
    font-family: 'Baloo Bhaina 2', sans-serif;
    margin-left: 17.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.mensagem h1 {
    font-weight: 700;
    font-size: 70px;
}

.mensagem p {
    font-weight: 400;
    font-size: 32px;
}

.imagemLogo {
    margin-left: 20rem;
}

/* eventos */
.eventos {
    height: 1111px;
    margin-left: 24rem;
}

.titulo {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2rem;
    margin-top: 3.38rem;
}

.explicacao {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    color: #454545;
    margin-left: 2rem;
}

/* exibicao de enventos */
.detalhes {
    width: 768px;
}

.detalhesEventos {
    width: 768px;
    margin-left: 2rem;
}

.eventoUm,
.eventoDois,
.eventoTres {
    background: #FFFFFF;
    border: 1.5px solid #EBEBEB;
    border-radius: 10px;
    width: 768px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventoDois,
.eventoTres {
   margin-top: 80px;
}

/* configurações evento */
.imgEvento {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 25px;
} 

.imgEvento img {
    filter: drop-shadow(2px 2px 3px #DDDDDD);
    border-radius: 10px;
    width: 248.02px;
}

.descricao {
    width: 435.27px;
    margin-left: auto;
    margin-right: auto;
} 

.tituloEvento {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.descricaoEvento,
.publicacao {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

.saberMais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.botaoSaibaMais input {
    background: #FFD176;
    box-shadow: 0px 1px 2px rgba(196, 196, 196, 0.25);
    border-radius: 10px;
    border: none;
    width: 105px;
    height: 35px;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

/* botao ver mais */
.button {
    display: flex;
    justify-content: center;
}

.verMais {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 18px 71px;
    background: #5CCED6;
    border: none;
    border-radius: 10px;
    margin-top: 46px;
}

@media screen and (max-width: 990px) {
    /* .bg-light {
        height: 100vh;
    } */
    
}